{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div>
    <h1>Hello there!</h1>
    <p>Struggling to understand algorithms? Or just want to see some cool visualizations with d3? 
    You've come to the right place :)
    </p>
    <p>
    The primary goal of this website is to help students get an overall 'feel' for certain algorithms through visualizations.
    However, I'll also include algorithms that aren't necessarily well-known, but unique and inspiring in their own right.
    </p>
    <p>Enjoy!</p>
</div>
{% endblock %}