{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>Algoview</h1>
    <p>Algorithm visualizations with d3.js</p>
  </div>
</div>
<div>
  <h1><a href="/sorting">Sorting Algorithms</a></h1>
  <p id="index-insertionsort"> </p>
  <script src="/static/js/insertionsort.js"></script>
</div>
<div>
  <h1><a href="/flocking">Flocking Algorithms</a></h1>
  <p id="index-flocking-animation"></p>
  <script src="/static/js/flock.min.js"></script>
  <script src="/static/js/flockexample.js"></script>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3> Categories </h3>
      <ul>
        <li><a href="/sorting">Sorting Algorithms</a></li>
        <li><a href="/flocking">Flocking</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span>Helpful Links</h3>
      <ul>
        <li><a href="http://d3js.org/">All about d3</a></li>
        <li><a href="http://www.red3d.com/cwr/boids/">Boids and flocking</a></li>
      </ul>
    </div>
</div>
{% endblock %}